body {

  background-color: whitesmoke ;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.gradient-custom{
  background-image: linear-gradient(45deg,rgba(0,256,256,0.6),rgba(14, 212, 51, 0.6));
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.exttext{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ext:hover{
  background-color: white;
  /* box-shadow: 5px 0px 5px 5px rgb(234, 234, 26) ; */
  color: coral;
  box-sizing: border-box;
  border: 2px solid black;
}
.check{
  color: aqua;
}


.table>tbody>tr>td, .table>tfoot>tr>td{
  vertical-align: middle;
}
@media screen and (max-width: 600px) {
  table#cart tbody td .form-control{
  width:20%;
  display: inline !important;
}
.actions .btn{
  width:36%;
  margin:1.5em 0;
}

.actions .btn-info{
  float:left;
}
.actions .btn-danger{
  float:right;
}

table#cart thead { display: none; }
table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
table#cart tbody tr td:first-child { background: #333; color: #fff; }
table#cart tbody td:before {
  content: attr(data-th); font-weight: bold;
  display: inline-block; width: 8rem;
}



table#cart tfoot td{display:block; }
table#cart tfoot td .btn{display:block;}

}




.left {
  background-color: lightblue;
  padding: 20px;
  float: left;
  width: 47%; /* The width is 20%, by default */
  height: 9rem;
}
.leftbutton{
  clear: both;
  text-align: center;
}

.middle{
  align-items: center;
  text-align: justify;
}
.right {
  background-color:lightblue;
  padding: 20px;
  float: right;
  width: 47%;
  height: 9rem;
}

.order{
  margin-left: auto;
  width: 50%;
}

@media screen and (max-width: 923px) {
  .left, .right {
    width: 100%;
    margin-bottom: 5%;
  }
  .order{
    width: 100%;
    margin-left: 0%;
  }
}


.wishlist{
  height: 20rem;
  width: 16rem;
}
.imgWishlist{
  height: 12rem;
  width: 14rem;
}